<!-- <div class="mainToolbar">
   <p>Witaj na blogu</p>

</div>
<div class="secToolbar">
   <p>Artykuły do czytania</p></div>

<div class="content">
<button-Upper-Toolbar></button-Upper-Toolbar>
</div>
<button mat-button color="accent">Accent</button>
<button mat-flat-button color="warn">Warn</button>
<app-comp-par></app-comp-par>
<app-content-comp><app-content-comp>
<app-name-parent><app-name-parent> -->
   <mat-toolbar>
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
       <mat-icon>menu</mat-icon>
     </button>
     <span>Witaj na stronie poświęconej GD&T</span>
     <!-- <span class="example-spacer"></span>
     <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
       <mat-icon>favorite</mat-icon>
     </button>
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
       <mat-icon>share</mat-icon>
     </button> -->
   </mat-toolbar>

   <app-main-content></app-main-content>
