div {
   /*padding:70px 500px;*/
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 60%;
   margin: 0 auto;
}

h3 {
   white-space: pre-line
}

frame-comp {
  height: 100px;
  width: 140px;
  border: solid;
  border-radius: 8px;
  border-width: thin;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  /*margin: 0 auto;*/
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #e9e5e6;
}

p {
  color: #b482c2;
}
